DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=

# App key for encryption
# Here is the example key '6ReG861lA9cWArK3sFyi0qzgpcqSGVvd'
APP_KEY=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

GEMINI_API_KEY=
MODEL=
EVIA_SYSTEM_INSTRUCTION=
SIMPLIFIER_SYSTEM_INSTRUCTION=